*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
tags
.idea/.name
.idea/.rakeTasks
.idea/dictionaries/bsundarraj.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/plain_old_model.iml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
